<div class="col-md-4 mb-3">
    <div class="card">
        <img src="<%= product.imageUrl %>" height="200px" class="card-img-top w-50 p-2 rounded mx-auto d-block" alt="<%= product.name %>">
        <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><%= product.price %> EGP</p>
        </div>
    </div>
</div>