<div class="col-md-4 mb-3">
    <div class="card">
        <img src="<%= product.imageUrl %>" height="200px" class="card-img-top w-50 p-2 rounded mx-auto d-block" alt="<%= product.name %>">
        <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><%= product.price %> EGP </p>
            <a href="/products/find/<%= product._id %>" class="btn btn-primary">View</a>
            <a href="/products/edit/<%= product._id %>" class="btn btn-warning">Edit</a>

            <button id="del" class="btn btn-danger" data-id="<%= product._id %>">Delete</button>
        </div>
    </div>
</div>