<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/header') %>
    <div class="jumbotron">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p id="demo"></p>
  </div>
    <%- include('../partials/footer') %>
    <script src="/js/script.js"></script>
  </body>
</html>
